ABI_2025.g1m @felixwittwer

ABIA1_25.g1m @felixwittwer

ABIA2_25.g1m @felixwittwer

ABIG1_25.g1m @felixwittwer

ABIG2_25.g1m @felixwittwer

ABIG3_25.g1m @felixwittwer

ABIG4_25.g1m @felixwittwer

ABIG5_25.g1m @felixwittwer

ABIS1_25.g1m @felixwittwer

LICENSE @felixwittwer

README.md @felixwittwer

menu_structure.txt @felixwittwer
